<h2>Pistas de pádel en {{ciudadUsuario}}</h2>
<div class="container">
  <!-- Comprobación de si hay pistas -->
  <div *ngIf="pistas.length > 0; else noPistas" class="pista-container">
    <div *ngFor="let pista of pistas" class="pista-card">

      <img [src]="pista.img" class="pista-image">

      <div class="pista-details">
        <p><strong>Nombre:</strong> {{ pista.nombre }}</p>
        <p><strong>Dirección:</strong> {{ pista.ciudad }}</p>
        <p><strong>Latitud:</strong> {{ pista.lat }}</p>
        <p><strong>Longitud:</strong> {{ pista.lng }}</p>
      </div>
    </div>
  </div>

  <!-- Plantilla alternativa si no hay pistas disponibles -->
  <ng-template #noPistas>
    <p>No se han encontrado pistas en tu ciudad.</p>
  </ng-template>
</div>