<h1 class="text-center mt-4">Dashboard</h1>
<br>

<!-- Sección para ROLE_ADMIN -->
<div *ngIf="showAdminInfo">
  <h2 class="text-center mt-4">Seccion de administrador</h2>
</div>

<!-- Sección para ROLE_USER -->
<div *ngIf="showUserInfo">
  <h2 class="text-center mt-4">Seccion de jugador de padel</h2>
  <section class="wrapper">
    <div iclass="container">
      <div class="row text-center justify-content-center">
        <div id="reservapista" class="col-sm-12 col-md-3 col-lg-3 mt-3" routerLink="/reserve-listSetCourt">
          <div class="card text-white card-has-bg click-col">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mt-0 "> <a class="text-white" routerLink= "/reserve-listSetCourt"> Reservar pista </a></h4>
                <div class="card-text">
                  <p>Reserva tu pista para jugar un partido</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 mt-3" routerLink="/reserve-list">
          <div class="card text-white card-has-bg click-col">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mt-0 "> <a class="text-white" routerLink= "/reserve-list"> Mis reservas </a></h4>
                <div class="card-text">
                  <p>Consulta tus reservas</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="crearpartido" class="col-sm-12 col-md-3 col-lg-3 mt-3" routerLink= "/create-match">
          <div class="card text-white card-has-bg click-col">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mt-0 "> <a class="text-white" routerLink= "/create-match"> Crear partido </a></h4>
                <div class="card-text">
                  <p>Crea tu propio partido de padel</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 mt-3" routerLink="/match-list">
          <div class="card text-white card-has-bg click-col">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mt-0 "> <a class="text-white" routerLink= "/match-list"> Ver partidos </a></h4>
                <div class="card-text">
                  <p>Ve los partidos de padel en los que te has apuntado</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="unirse-partido" class="col-sm-12 col-md-3 col-lg-3 mt-3" routerLink= "/join-match">
          <div class="card text-white card-has-bg click-col">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mt-0 "> <a class="text-white" routerLink= "/join-match"> Unirse a un partido </a></h4>
                <div class="card-text">
                  <p>Únete a un partido de padel creado por otros usuarios</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Sección para ROLE_COURT_ADMIN -->
<div *ngIf="showCourtAdminInfo">
  <h2 class="text-center mt-4">Seccion de administrador de pistas</h2>
  <section class="wrapper">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div id="add-court" class="col-sm-12 col-md-3 col-lg-3" (click)="goToAddCourt()">
          <div class="card text-white card-has-bg click-col">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mt-0 "><a class="text-white" routerLink="/add-court">Añadir pista</a></h4>
                <div class="card-text">
                  <p>Añade una pista de pádel</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3" (click)="goToDeleteCourt()">
          <div class="card text-white card-has-bg click-col">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mt-0 "><a class="text-white" routerLink="/delete-court">Eliminar pista</a></h4>
                <div class="card-text">
                  <p>Elimina una pista de pádel</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3" (click)="goToListSetCourts()">
          <div class="card text-white card-has-bg click-col">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mt-0 "><a class="text-white" routerLink="/list-setcourts">Tus conjuntos de pistas</a></h4>
                <div class="card-text">
                  <p>Consulta tus conjuntos de pistas</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3" (click)="goToDeleteSetCourt()">
          <div class="card text-white card-has-bg click-col">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mt-0 "><a class="text-white" routerLink="/delete-setcourt">Eliminar conjunto de pistas</a></h4>
                <div class="card-text">
                  <p>Elimina un conjunto de pistas de pádel</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>