<h2>Eliminar Pista</h2>

<div class="container">
  <!-- Comprobación de si hay pistas -->
  <div *ngIf="pistas.length > 0; else noPistas">
    <form (ngSubmit)="onDelete()">
      <!-- Iteración sobre las pistas obtenidas -->
      <div *ngFor="let pista of pistas" class="form-check mb-3">
        <input 
          class="form-check-input" 
          type="radio" 
          name="pistaSeleccionada" 
          [(ngModel)]="pistaSeleccionada" 
          [value]="pista.id" 
          required>
        <label class="form-check-label">
          <strong>Nombre:</strong> {{ pista.setCourtName }} - {{ pista.setCourt.nombre }}<br>
        </label>
      </div>

      <!-- Botón para eliminar la pista seleccionada -->
      <button type="submit" class="btn btn-primary mt-3">Eliminar Pista</button>
    </form>
  </div>

  <!-- Plantilla alternativa si no hay pistas disponibles -->
  <ng-template #noPistas>
    <p>No se han encontrado pistas creadas por el usuario.</p>
  </ng-template>
</div>
