<h1>User Profile</h1>
<hr>

<div *ngIf="user">
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>First Name:</strong> {{ user.firstName }}</p>
    <p><strong>Last Name:</strong> {{ user.lastName }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Phone Number:</strong> {{ user.phoneNumber }}</p>
    <p><strong>City:</strong> {{ user.city }}</p>
</div>

<p *ngIf="!user">User not found.</p>

<h3>Reservas</h3>
<table *ngIf="userReserves.length > 0" class="table">
    <thead>
      <tr>
        <th>Pista ID</th>
        <th>Fecha</th>
        <th>Duración</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserve of userReserves">
        <td>{{ reserve.courtId }}</td>
        <td>{{ reserve.date }}</td>
        <td>{{ reserve.duration }}</td>
        <td>{{ reserve.status }}</td>
        <td>
            <button *ngIf="reserve.status === 'pendiente'" (click)="openConfirmationModal(reserve.id)">Confirmar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="userReserves.length === 0">
      <p>No tienes reservas pendientes.</p>
    </div>
    
    <!-- Modal de confirmación -->
    <div *ngIf="isModalOpen" class="modal-overlay">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h4>¿Confirmar reserva?</h4>
        <button (click)="confirmReserve(selectedReserveId)">Sí</button>
        <button (click)="closeModal()">No</button>
      </div>
    </div>