<h1 class="text-center mt-4">Register</h1>
<hr>

<div class="container-sm rounded-3 mt-4">
    <form (ngSubmit)="register()">
        <div class="mb-3 row justify-content-center">
            <label class="col-sm-3 col-form-label text-end" for="username">Username:</label>
            <div class="col-sm-4">
                <input id="username" [(ngModel)]="user.username" name="username" type="text" required>
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <label class="col-sm-3 col-form-label text-end" for="password">Password:</label>
            <div class="col-sm-4">
                <input id="password" [(ngModel)]="user.password" name="password" type="password" 
                required #password="ngModel" minlength="8" maxlength="64"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).+$">
                <div *ngIf="password.invalid && password.dirty">
                    <div *ngIf="password.errors?.['required']">La contraseña es obligatoria.</div>
                    <div *ngIf="password.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</div>
                    <div *ngIf="password.errors?.['maxlength']">La contraseña no puede exceder 64 caracteres.</div>
                    <div *ngIf="password.errors?.['pattern']">La contraseña debe contener al menos una letra mayúscula, una minúscula, un número y un carácter especial.</div>
                </div>
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <label class="col-sm-3 col-form-label text-end" for="firstName">First Name:</label>
            <div class="col-sm-4">
                <input id="firstName" [(ngModel)]="user.firstName" name="firstName" type="text" required>
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <label class="col-sm-3 col-form-label text-end" for="lastName">Last Name:</label>
            <div class="col-sm-4">
                <input id="lastName" [(ngModel)]="user.lastName" name="lastName" type="text" required>
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <label class="col-sm-3 col-form-label text-end" for="email">Email:</label>
            <div class="col-sm-4">
                <input id="email" [(ngModel)]="user.email" name="email" type="email" required>
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <label class="col-sm-3 col-form-label text-end" for="phoneNumber">Phone Number:</label>
            <div class="col-sm-4">
                <input id="phoneNumber" [(ngModel)]="user.phoneNumber" name="phoneNumber" type="text">
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <label class="col-sm-3 col-form-label text-end" for="city">City:</label>
            <div class="col-sm-4">
                <input id="city" [(ngModel)]="user.city" name="city" type="text">
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <label class="col-sm-3 col-form-label text-end" for="role">Role:</label>
            <div class="col-sm-4">
                <div *ngFor="let role of roles">
                    <input type="checkbox" [value]="role.id" (change)="onRoleChange(role, $event)"> {{ role.descriptionName }}
                </div>
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <label class="col-sm-3 col-form-label text-end" for="level">Nivel de padel:
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#myModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                  </svg></button>
            </label>
            <div class="col-sm-4">
                <input id="level" [(ngModel)]="user.padelLevel" name="padelLevel" type="number">
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <div class="col-sm-3 d-flex justify-content-around">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </div>
    </form>
</div>
<p *ngIf="message">{{ message }}</p>


<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Ayuda para elegir el nivel de padel</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <ul>
                <li>Nivel de iniciación: De 0 a 1.5 se encuentran los jugadores que empiezan a jugar al pádel por primera vez sin tener técnica ni táctica.</li>
                <li>Iniciación intermedio: De 1.5 a 2.5  se clasifica a los jugadores que pelotean y devuelven la pelota a baja velocidad. Son usuarios que juegan un par de partidos al mes y que han hecho pocas clases.</li>
                <li>Intermedio: De 2.5 a 4.0 encontramos jugadores que casi dominan la mayoría de los golpes.</li>
                <li>Intermedio alto: De 4.0 a 5.0 están los jugadores que dominan el juego con una buena técnica y  un buen ritmo. Sin embargo, siguen cometiendo algunos errores sin querer y les cuesta cerrar los puntos.</li>
                <li>Alto Avanzado: Los jugadores con puntuación de 5.0 a 5.5. Implica tener un dominio alto de la técnica y la táctica y que están preparados para jugar a buen ritmo.</li>
                <li>Avanzado: De 5.5 a 6.0 son los jugadores que están preparados para jugar partidos a ritmo alto y dominan todos los golpes.</li>
                <li>Jugador profesional: La puntuación de 7.0 está pensada para los jugadores de élite.</li>
            </ul>
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
          </div>
    
        </div>
      </div>
</div>